<!-- About Section -->
<section class="success" id="about">
  <div class="container" style="padding-top: 80px;">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>MIDAS</h2>
        <h3>Delivering cost-effective, green and robust communications networks</h3>
      </div>
    </div>
    <div class="row" style="display: flex; align-items: center;">
      <div class="col-lg-8" style="text-align: justify; text-justify: inter-word;" >
        <p>MIDAS was developed over 2 years with the UK’s Ministry of Defence to recommend the best locations for sensors,
          transmitters and receivers in a network to achieve optimal performance.
          Importantly, MIDAS delivers a large library of good configuration options for your network,
          rather than just one, providing ultimate flexibility for network planners and installers.
          MIDAS can also compute complex constraints, for example, taking into account restrictions on where hardware can be mounted.</p>
          <p>At the end of 2022, PolyChord Ltd won a highly-competitive Zenzic Scale-Up grant worth £100K.
            In this program the MIDAS framework has been validated for use in a campus-scale environment.
            MIDAS has been tested in WMG’s user-in-the-loop simulations, in which state-of-the-art ray tracing simulations
            are combined with emulation of a physical signal. In this highly flexible, close-to-real-life,
            campus environment we have been able to showcase that a MIDAS redesign of the existing network eliminates
            safety-critical dead spots and improves the overall network performance.
            We have also validated MIDAS’s capabilities for optimising hardware usage and for delivering safe networks
            that always work even when an antenna fails. Working with the Smart Mobility Living Lab (SMLL),
            MIDAS has shown it can reduce power usage of the Woolwich Arsenal section of the SMLL network,
            whilst maintaining an operational network - delivering a 30% reduction in energy usage.</p>

      </div>
      <div class="col-lg-4" >
        <img src="img/user-in-the-loop-WMG.jpg" class="img-responsive" style="vertical-align: middle;" alt="WMG user-in-the-loop simulation">
      </div>

    </div>
  </div>
</section>
