<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">
            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% if post.description %}
            <p>{{ post.description }}</p>
            {% endif %}
            <ul class="list-inline item-details">
              {% if post.client %}
              <li>Client:
                <strong>{{ post.client }}</strong>
              </li>
              {% endif %}
              {% if post.project-date %}
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              {% endif %}
              {% if post.category %}
              <li>Service:
                <strong>{{ post.category }}</strong>
              </li>
              {% endif %}
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}


<div class="portfolio-modal modal fade" id="N-antenna-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="modal-body">
            <h2>Optimising the number of antennas</h2>
            <hr class="star-primary">
            <p>During our work with Warwick Manufacturing Group, we optimised the placement of the antennas on the Warwick campus to yield the best possible network coverage of the main road network to facilitate the deployment of connected and autonomous vehicles. Our results were verified via WMG's user-in-the-loop simulations, in which state-of-the-art ray tracing simulations are combined with emulation of a physical signal. </p>
            <p>Use the slider to control the number of antennas in the network and see how the coverage changes.</p>
            <ul class="list-inline" style="margin-bottom: 0px">
              <li>
                <form class="form-group-sm">
                    <label for="sliderN"><i class="bi-images"></i>&nbsp;Number of antennas:</label>
                    <input type="range" min="2" max="9" value="6" id="sliderN"><label id="valueN"></label>&nbsp;
                </form>
              </li>
            </ul>
            <div class="portfolio-flex-row">
              <div class="portfolio-flex-item portfolio-item">
                <img src="img/N_antenna/sum_N_6.png" id="NAntennaCoverage" class="img-responsive img-centered" style="padding: 0px 0px 0px 50px; margin-bottom: 0px" alt="Metrics for different number of antennas">
              </div>
              <div class="portfolio-flex-item portfolio-item">
                <img src="img/N_antenna/metrics_N_6.png" id="NAntennaMetric" class="img-responsive img-centered" style="margin-bottom: 0px" alt="Metrics for different number of antennas">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{ " js/N_antenna.js" }}"></script>

<div class="portfolio-modal modal fade" id="Dropout-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="modal-body">
            <h2>Optimising for hardware failure</h2>
            <hr class="star-primary">
            <p>Network hardware is bound to fail at some point, therefore it is important (and essential in safety-critical applications)
              for the remaining transmitters to maintain acceptable coverage of the cityscape.
              MIDAS can optimise sensor locations with antenna failure in mind -
              this guarantees a network that is as robust to hardware failures as is possible under the installation constraints.</p>
            <p>Use the slider to control which antenna is dropped from the network and see how the coverage changes.</p>
            <ul class="list-inline item-details">
              <li>
                <form class="form-group-sm">
                    <label for="sliderDropout"><i class="bi-images"></i>&nbsp;Antenna failure:</label>
                    <input type="range" min="0" max="7" value="0" id="sliderDropout"><label id="valueDropout"></label>&nbsp;
                </form>
              </li>
            </ul>

    		    <div class="wrapper" id="canvasWrapperDropout" style="margin-right: auto; margin-left: auto; position: relative; width: 800px; height: 800px;">
    				  <canvas id="imagesDropout" width='800' height='800' style="position: absolute; top: 0;left: 0;"></canvas>
    				  <canvas id="drawingDropout" width='800' height='800' style="position: absolute; top: 0;left: 0;"></canvas>
    			  </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{ " js/Dropouts.js" }}"></script>

<div class="portfolio-modal modal fade" id="Energy-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="modal-body">
            <h2>Optimising for energy consumption</h2>
            <hr class="star-primary">
            <p>MIDAS can minimise power consumption whilst ensuring a functional network to reduce a network’s carbon impact. In validation tests optimising a small campus network, MIDAS delivered energy savings of 30%</p>
            <p>Use the sliders to control minimum and/or average signal strength to see how MIDAS selects new power level to guarantee your requirements at the lowest possible energy cost.</p>
            <ul class="list-inline" style="margin-bottom: 0px">
              <li>
                <form class="form-group-sm">
                    <label for="sliderMinPower"><i class="bi-images"></i>&nbsp;Required minimum signal:</label>
                    <input type="range" min="-114" max="-105" value="-110" id="sliderMinPower"><label id="valueMinPower"></label>&nbsp;
                </form>
              </li>
              <li>
                <form class="form-group-sm">
                    <label for="sliderMeanPower"><i class="bi-images"></i>&nbsp;Required average signal:</label>
                    <input type="range" min="-100" max="-91" value="-95" id="sliderMeanPower"><label id="valueMeanPower"></label>&nbsp;
                </form>
              </li>
            </ul>
            <ul class="list-inline" style="margin-bottom: 0px">
              <li>
                <form class="form-group-sm">
                    <label for="energyUsage"><i class="bi-images"></i>&nbsp;Energy usage:</label>
                    <input type="text" id="energyUsage" size="7" value="0.0" style="text-align:right;" readonly="readonly"/>&nbsp;
                </form>
              </li>
              <li>
                <form class="form-group-sm">
                    <label for="energySavings"><i class="bi-images"></i>&nbsp;Energy savings:</label>
                    <input type="text" id="energySavings" size="7" value="0.0" style="text-align:right;" readonly="readonly"/>&nbsp;
                </form>
              </li>
            </ul>
            <div class="portfolio-flex-row">
              <div class="portfolio-flex-item portfolio-item">
                <img src="img/Energy/10.png" id="EnergyCoverage" class="img-responsive img-centered" style="margin-bottom: 0px" alt="CoverageMap">
              </div>
              <div class="portfolio-flex-item portfolio-item">
                <img src="img/Energy/metric_10.png" id="EnergyMetric" class="img-responsive img-centered" style="margin-bottom: 0px" alt="Average signal strength vs energy usage">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{ " js/Energy.js" }}"></script>
