<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Results</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="portfolio-flex-row">
      <!-- test my modal -->
      <div class="portfolio-flex-item portfolio-item">
        <a href="#testmodal" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/N_antenna/sum_N_6.png" class="img-responsive" alt="alt">
        </a>
      </div>


      <div class="portfolio-flex-item portfolio-item">
        <a href="#my-modal" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/N_antenna/sum_N_6.png" class="img-responsive" alt="Optimising number of antennas">
        </a>
      </div>
    </div>
  </div>
</section>
