<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Results</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="portfolio-flex-row">


      <div class="portfolio-flex-item portfolio-item">
        <a href="#N-antenna-modal" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/results/cityscape01_cropped_text.jpg" class="img-responsive" alt="Optimising number of antennas">
        </a>
      </div>

      <div class="portfolio-flex-item portfolio-item">
        <a href="#Dropout-modal" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/results/blackout_cropped_text.jpg" class="img-responsive" alt="Optimising for dropouts">
        </a>
      </div>

      <div class="portfolio-flex-item portfolio-item">
        <a href="#Energy-modal" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/results/lightbulb_cropped_text.jpg" class="img-responsive" alt="Optimising for energy">
        </a>
      </div>

    </div>
  </div>
</section>
